@import "../../../Sass/imports";
.institute-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &-container {
        width: 82%;
        margin:0 0 0 50px;
        padding-top: 15px;
        background-position: top right;
        background-size: 30% 15%;
        h3{
            font-weight: bold;
        }

        &-message{
            display: inline-block;
            color: #A3A3A3;
            border-bottom: 1px solid #319CFF;
            padding-bottom: 10px;
        }

        &-img{
            display: flex;
            img{
                height: 113px;
                margin-right: 30px;
                border-radius: 100%;
            }
            

            &-btn{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 12px;
                img{
                    margin: 0;
                    height: 16px;
                }
                input[type="file"] {
                    display: none;
                }
                button{
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 5px 15px;
                    border-radius: 6px;
                }
                .change{
                    background-color: #59AFFF;
                    color: white;
                    padding: 5px 15px;
                    border-radius: 6px;
                    cursor: pointer;
                }
            }
        }

        .name-email{
            display: flex;
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            // justify-content: space-evenly;
            .name-box{
                flex: 1;
            }
            .email-box{
                padding-left: 20px;
                flex: 1;
            }
        }
        
        input,textarea{
            width: 60%;
            box-shadow: 0px 0px 4px rgba(84, 84, 84, 0.25);
            border-radius: 12px;
            outline: none;
            border: 1px solid #E3E3E3;
            padding: 5px 10px;
        }
        .wrapper-class {
        border: 1px solid #E3E3E3;
        box-shadow: 0px 0px 4px rgba(84, 84, 84, 0.25);
        border-radius: 12px;
        width: 70%;
        padding: 5px;
        height: 230px;
        box-sizing: border-box;
        }
        
        .editor-class {
        border-radius: 12px;
        background-color: #f2f2f2;
        height: 56%;
        border: 1px solid #ccc;
        padding: 0 5px;
        }
        
        .toolbar-class {
        height: 40%;
        border-radius: 12px;
        border: 1px solid #ccc;
        }

        .update-button{
            background: #59AFFF;
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
            border-radius: 32px;
            border: none;
            color: white;
            font-weight: 600;
            font-size: 15px;
            cursor: pointer;
            padding: 2px 20px;
        }
    }

    &-navigation {
        width: 17%;
    }
}

.institute-profile-container > * {
    //   display: block;
      margin-bottom: 30px; 
  } 