@import '../../../../Sass/imports';

.poa-wall {
    h2 {
        text-align: center;
        margin-top: 2%;
        font-family: "montserrat";
        font-weight: bolder;
    }
    
    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        grid-column-gap: 0.5vw;
        grid-row-gap: 20px;
        margin-top: 3%;
        margin-left: 2%;
    }
}

input::file-selector-button {
    font-weight: normal;
    // padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    background: transparent;
    border: none;
    font-family: "montserrat";
    padding-top: 12px;
}


.poa-dashboard { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: rgba(89, 175, 255, 0.03);
    margin: 0;
    padding: 0;

    &-bg {
        width: 28%;
  
        h1 {
          @include font-config(20px, 400, "montserrat", white);
          margin-top: 27%;
          margin-left: 10%;
        }
        p {
          @include font-config(15px, 600, "montserrat", white);
          margin-top: 5%;
          width: 70%;
          margin-left: 10%;
          letter-spacing: 2px;
          line-height: 20px;
        }
      }

    &-content {
        width: 70%;
    }
}

.no-poa {
    text-align: center;
    margin-top: 20%;
    color: #cacccf;
    font-size: 40px;
}