@import "../../../Sass/imports";

.LAE {

  input {
    border: none;
    height: 6vh;
    box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
    border-radius: 10px;
    width: 13vw;
    margin-top: 0.2%;
    outline: none;
    padding: 0 5px;
  }
  
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: rgba(89, 175, 255, 0.03);

    &-bg {
      width: 20%;
      margin-top: 5%;
      margin-left: 2%;
      position: fixed;


      p {
        background-color: rgba(49, 156, 255, 1);
        color: white !important;
        border-radius: 10px;
        text-align: center;
        margin-top: 1%;
        font-size: 20px;
        padding: 5px 15px;
      }

    }

    &-inputarea {
      margin-left: 25%;
      height: 100vh;
      width: 45%;

      &-performance {
        margin-right: 10px;

        p {
          background-color: rgba(49, 156, 255, 1);
          color: white !important;
          border-radius: 10px;
          text-align: center;
          margin-top: 1%;
          font-size: 20px;
          padding: 5px 15px;
        }
      }

      &-card {
        margin-top: 5%;
      }
      p {
        float: right;
        margin-top: 2.5%;
        @include font-config(15px, 400, "montserrat", black);
        padding-right: 20px;
      }
      // width: 72%;
      margin-top: 4%;

      input {
        border: none;
        height: 6vh;
        box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
        border-radius: 10px;
        width: 20vw;
        margin-top: 0.2%;
        outline: none;
        padding: 0 5px;
      }

      button {
        border-radius: 10px;
        font-family: "montserrat";
        color: #ffffff;
        background: rgba(49, 156, 255, 1);
        padding: 10px 25px;
        margin-left: 3%;
        text-decoration: none;
        border: none;
        box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
        margin-top: 3%;
        letter-spacing: 2px;
        font-size: 13px;
        cursor: pointer;
      }
    }

    &-modules {
      position: fixed;
      width: 25%;
      right: 3%;
      top: 16%;
    }
  }
}

// .LAE-with-google {
//   padding: 20px 10px;
//   width: 60%;
//   margin-top: 4%;
//   box-shadow: 0px 4px 4px 0px rgba(206, 206, 206, 0.25);
//   border-radius: 15px;
//   img {
//     margin: auto;
//     display: block;
//     height: auto;
//     width: 15vw;
//   }
// }

// .LAE-divider {
//   margin-left: 5%;
//   margin-top: 3%;
//   width: 25vw;
//   height: auto;
// }

// .LAE-input {
//   margin-top: 4%;

//   button {
//     border-radius: 10px;
//     font-family: "montserrat";
//     color: #ffffff;
//     background: rgba(49, 156, 255, 1);
//     padding: 13px 55px;
//     text-decoration: none;
//     border: none;
//     letter-spacing: 2px;
//     box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
//     margin-top: 3%;
//     font-size: 13px;
//     cursor: pointer;
//   }
// }

.course-sub-card {
  margin-top: 8%;
}