@import "../../../Sass/imports";

.LAE {

  input {
    border: none;
    height: 6vh;
    box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
    border-radius: 10px;
    width: 13vw;
    margin-top: 0.2%;
    outline: none;
    padding: 0 5px;
  }
  
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: rgba(89, 175, 255, 0.03);

    &-bg {
      width: 25%;

      &-card {
        margin-top: 92%;
        margin-left: 8%;
      }

      p {
        background-color: rgba(49, 156, 255, 1);
        color: white !important;
        border-radius: 10px;
        text-align: center;
        // justify-content: space-around;
        margin-top: 1%;
        font-size: 20px;
        padding: 5px 15px;
      }

    }

    &-inputarea {
      margin-left: 1%;
      height: 100vh;
      width: 45%;

      &-performance {
        margin-right: 10px;
        font-family: "montserrat";
        margin-top: 5%;
        margin-left: 2%;
        font-size: 10px;
        position: fixed;

        button {
          border-radius: 10px;
          font-family: "montserrat";
          color: #ffffff;
          background: rgba(49, 156, 255, 1);
          padding: 5px 25px;
          // margin-left: 3%;
          text-align: left;
          width: 20vw;
          text-decoration: none;
          border: none;
          box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
          margin-top: 3%;
          letter-spacing: 2px;
          font-size: 13px;
          cursor: pointer;
        }

        p {
          background-color: rgba(49, 156, 255, 1);
          color: white !important;
          border-radius: 10px;
          text-align: left;
          justify-content: space-around;
          margin-top: 1%;
          font-size: 15px;
          width: 100%;
          padding: 5px 25px;
          z-index: 1;
          cursor: pointer;
        }

        span {
          margin-left: 5%;
        }
      }

      &-card {
        margin-top: 5%;
      }
      p {
        float: right;
        margin-top: 2.5%;
        @include font-config(15px, 400, "montserrat", black);
        padding-right: 20px;
      }
      // width: 72%;
      margin-top: 4%;

      input {
        border: none;
        height: 6vh;
        box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
        border-radius: 10px;
        width: 20vw;
        margin-top: 0.2%;
        outline: none;
        padding: 0 5px;
      }

      button {
        border-radius: 10px;
        font-family: "montserrat";
        color: #ffffff;
        background: rgba(49, 156, 255, 1);
        padding: 5px 25px;
        margin-left: 3%;
        text-decoration: none;
        border: none;
        box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
        margin-top: 3%;
        letter-spacing: 2px;
        font-size: 13px;
        cursor: pointer;
      }
    }

    &-modules {
      width: 25%;
      right: 3%;
      top: 16%;
      margin-top: 4%;
      margin-left: 2%;

      &-balance {
        background-color: rgba(49, 156, 255, 1);
        color: white !important;
        border-radius: 10px;
        text-align: left;
        justify-content: space-around;
        margin-top: 1%;
        font-size: 16px;
        width: 100%;
        padding: 5px 25px;
        z-index: 1;
        cursor: pointer;
        font-family: "montserrat";

        span {
          margin-left: 3%;
        }
      }
    }
  }
}

.course-sub-card {
  margin-top: 8%;
}

.assignment-ans-txtarea {
  border: none;
  height: 20vh;
  box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
  border-radius: 10px;
  width: 17vw;
  height: 27vh;
  margin-top: 6%;
  outline: none;
  padding: 0 5px;
}

.spn-modules {
  margin-top: 6%;
}

.no-modules, .no-work {
  text-align: center;
  margin-top: 5%;
  color: #cacccf;
  font-size: 20px;
}