.facilities {
    height: 55vh;
    background-size: 100% 100%;

    &-container {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 5% auto 0 auto;
        justify-content: space-around;
        align-items: center;

        &-heading h1 {
            font-size: 60px;
            line-height: 55px;
            color: #4D6DE3;
            font-weight: 700;
        }

        &-facility {
            width: 45%;
            &-pt {
                img {
                    padding-right: 20px;
                }
                font-size: 27px;
                line-height: 55px;
                color: #4D6DE3;
                font-weight: 700;
                margin-top: 10%;
            }
        }
    }
}