.poa-nft-card {
    width: 20vw;
    font-family: "montserrat";
    height: 57vh;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
    margin-top: 0.2%;
    outline: none;
    padding: 0 5px;

    p {
        width: 100%;
    }

    button {
        border-radius: 10px;
        color: #ffffff;
        background: rgba(49, 156, 255, 1);
        padding: 5px 25px;
        text-align: center;
        width: 10vw;
        display: block;
        margin: 0 auto 0 auto;
        text-decoration: none;
        border: none;
        box-shadow: 0px 1px 4px 0px rgba(98, 98, 98, 0.25);
        margin-top: 3%;
        letter-spacing: 2px;
        font-size: 13px;
        cursor: pointer;
        // margin-left: 3%;
    }

    h4 {
        font-family: "4px";
        font-family: "montserrat";
        font-weight: bold;
        color: #949494;
    }
}

.modal-pop {
    h3 {
        font-weight: bold;
        color: #949494;
    }
}