.poap-page {
    font-family: "montserrat";
    h2 {
        text-align: center;
        margin-top: 2%;
    }
    &-query {
        display: block;
        margin: auto;
        width: 50%;

        &-card {
            margin-top: 2%;
        }
    }
}