.page {
    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-column-gap: 0.5vw;
        grid-row-gap: 20px;
        margin-top: 3%;
        margin-left: 2%;
    }
}

.no-inst {
    text-align: center;
}

.poap-request {
    background-color: rgba(49, 156, 255, 1);
    color: white !important;
    border-radius: 10px;
    text-align: center;
    margin-top: 1%;
    font-size: 14px;
    padding: 5px 15px;
    width: 10%;
    margin-left: 2%;
    font-family: "montserrat";
}