.page {
    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-column-gap: 0.5vw;
        grid-row-gap: 20px;
        margin-top: 3%;
        margin-left: 2%;
    }
}